body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

/*Thuận*/
.cl-force{
    color:red;
}
.form-group {
    margin-bottom: 10px;
}
.mar-top-lb{
    margin-top:9px;
}
.no-padding{
    padding: 0 !important;
}
fieldset{
    background: white;
    border: 1px solid #FFFBCC;
    border-radius: 10px ;
    padding: 20px;
}
legend{
    border-bottom: none !important;
    margin-bottom: 0px !important;
}
.padd-button{
    padding-right: 30px !important;
}
.mar-popup-card{
    margin-top:60px;
}
/*Anh TU*/

#tool-box {
    width: 59%;
    margin: 20px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#tool-box table{
    width: 100%;
    border: none;
}

#tool-box input{
    width: 100%;
    padding: 8px;
    outline: none;
    background-color: #ebebeb;
    border: 1px solid #ccc;
}

#folder-list {
    width: 59%;
    margin: 20px auto;
    border-collapse: collapse;

}


#folder-list td {
    padding: 5px;
    width: 90px;
}

#folder-list tr:nth-of-type(1) td{
    cursor: pointer;
}


/*file list */
#file-list {
    width: 59%;
    margin: 20px auto;
    border-collapse: collapse;

}


#file-list td {
    padding: 5px;
    width: 90px;
}

hr{
    width: 59%;
}
