body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

/*Thuận*/
.cl-force{
    color:red;
}
.form-group {
    margin-bottom: 10px;
}
.mar-top-lb{
    margin-top:9px;
}
.no-padding{
    padding: 0 !important;
}
fieldset{
    background: white;
    border: 1px solid #FFFBCC;
    border-radius: 10px ;
    padding: 20px;
}
legend{
    border-bottom: none !important;
    margin-bottom: 0px !important;
}
.padd-button{
    padding-right: 30px !important;
}
.mar-popup-card{
    margin-top:60px;
}
.mar-top{
    margin-top: 50px;
}
/*Anh TU*/

.tool-box{
    padding-right: 20px;
}

#folder-list {
    width: 59%;
    margin: 20px auto;
    border-collapse: collapse;

}


#folder-list td {
    padding: 5px;
    width: 90px;
}

#folder-list tr:nth-of-type(1) td{
    cursor: pointer;
}


/*file list */
#file-list {
    width: 59%;
    margin: 20px auto;
    border-collapse: collapse;

}


#file-list td {
    padding: 5px;
    width: 90px;
}

hr{
    width: 59%;
}

/*Nha*/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
